.topo{
    top: 30vh;
    position: relative;
}

.input-custom{
    margin-bottom: 1rem;
}

.input-custom input {
    background-color: #f0f0f0; 
    border: 1px solid #ced4da; 
    border-radius: 0.375rem; 
    transition: border-color 0.3s ease;
}

